.container {
    background-color: rgba(82, 107, 220, 0.387);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    width: 24%; 
    margin: 0 auto;
    display: inline-block;
   }
h2 {
    color: #fefefe;
    text-align: center;
    font-size: 16px;
    }
img {
    border-radius: 50%;
    height: 10em;
    background-position: center;
    justify-content: center;
    }

button {
    background-color: black;
    color:rgb(151, 255, 5);
    border-radius:50px; ;
    }